* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorBase: #fff;
  --colorPrimary: #ababab7b;
  --colorFont: #0e0700;
  --fontFamily: "Bebas Neue";
}

::selection {
  background: var(--colorPrimary); /*Color naranja para el fondo*/
  color: var(--colorBase);
}

body {
  background-color: var(--colorBase);
  color: var(--colorFont);
  font-family: var(--fontFamily);
}

header {
  width: 100%;
  text-align: center;
}

.headerTitle {
  margin-top: 3rem;
  font-size: 2rem;
  font-family: "Dosis", sans-serif;
  font-weight: 900;
  position: relative;
  text-decoration: none;
  color: var(--colorFont);
  z-index: 100000;
}

.headerSticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.5rem;
  margin: 0;
  background-color: var(--colorFont);
  color: var(--colorBase);
  padding: 1rem 0;
  z-index: 100000; /* Ajusta según sea necesario */
  animation: myAnimStickyHeader 0.5s ease 0s 1 normal forwards;
}

@keyframes myAnimStickyHeader {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0 1rem 0;
  z-index: 1000;
  transition: 0;
}

.underlined-hover {
  position: relative;
  text-decoration: none;
  color: var(--colorFont);
}

.underlined-hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--colorFont); /* Color del subrayado */
  transition: 0.5s ease;
}

.underlined-hover:hover::before {
  width: 100%;
}

.sticky {
  position: sticky;
  top: 3rem;
  padding: 0.5rem 0 1.5rem 0;
  background: var(--colorFont);
  color: var(--colorBase);
  transition: 0.8s;
  overflow: hidden;
  animation: myAnimStickyNav 1.5s ease 0s 1 normal forwards;
}

@keyframes myAnimStickyNav {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.navLogo {
  position: absolute;
  visibility: hidden;
  width: 80px;
  height: 60px;
}

.logoSticky {
  visibility: visible;
  cursor: pointer;
}

.stickyLinks {
  text-decoration: none;
  color: var(--colorBase);
  margin: 0 0.3rem;
  margin-left: 1rem;
  position: absolute;
  visibility: hidden;
  padding: 0.5rem 1rem;
  border-radius: 2px;
}

.stickyLinks:hover {
  background-color: var(--colorPrimary);
  color: var(--colorFont);
}

#navBarMobileTitle {
  visibility: hidden;
  position: absolute;
  cursor: pointer;
}

#stickyNavLinksContainer a{
  text-decoration: none;
}

.navList {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
}

.navList ul li {
  padding: 0.8rem 1.4rem;
}

.navList li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.15s ease-in-out;
}

.navList li a {
  text-decoration: none;
  color: var(--colorTittle);
  font-size: clamp(0.8rem, 4vw, 1rem);
  font-weight: 700;
  letter-spacing: 3px;
  padding: 0.8rem 1rem;
  margin: 0 0.5rem;
  border-radius: 2px;
  transition: 0.3s;
}

.navList li a:hover {
  background-color: var(--colorPrimary);
  color: var(--colorFont);
  transition: 0.2s;
}

.abrirMenu,
.cerrarMenu {
  display: none;
}

/* FAMILIA dielectronics */

.botonAbrirModalNav {
  border: none;
  text-decoration: none;
  color: var(--colorFont);
  background-color: var(--colorBase);
  font-size: clamp(0.8rem, 4vw, 1rem);
  font-weight: 700;
  letter-spacing: 3px;
  padding: 0.8rem 1rem;
  margin: 0 0.5rem;
  transition: 0.3s;
}

.modalNav {
  width: 80% !important;
  height: 80vh !important;
  margin: auto auto;
  animation: myAnimDialogNav 1s ease 0s 1 normal forwards;
}

@keyframes myAnimDialogNav {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-450px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

#nuestraFamiliaTitle {
  font-size: clamp(1.2rem, 2vw, 3rem);
}

#nuestraFamiliaText {
  font-size: clamp(0.8rem, 2vw, 1.5rem);
}

.familiaParent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1rem;
  }
  
  .familiaDiv1 { grid-area: 1 / 1 / 7 / 3; }
  .familiaDiv2 { grid-area: 7 / 1 / 11 / 3; }
  .familiaDiv3 { grid-area: 1 / 3 / 5 / 5; }
  .familiaDiv4 { grid-area: 7 / 3 / 11 / 5; }
  .familiaDiv5 { grid-area: 1 / 5 / 5 / 7; }
  .familiaDiv6 { grid-area: 7 / 5 / 11 / 7; }
  .familiaDiv7 { grid-area: 1 / 7 / 5 / 9; }
  .familiaDiv8 { grid-area: 7 / 7 / 11 / 9; }
  .familiaDiv9 { grid-area: 1 / 9 / 6 / 11; }
  .familiaDiv10 { grid-area: 6 / 9 / 11 / 11; }
  .familiaDiv11 { grid-area: 5 / 3 / 7 / 9; }

/* HERO */
.slider-container-hero {
  position: relative;
  width: 100%;
  height: 110vh;
  overflow: hidden;
}

.slider-content-hero {
  display: flex;
  transition: transform 1s ease;
  width: 300%; /* Ajusta este valor según la cantidad de diapositivas */
}

.slide-hero {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-self: center;
}

.slider-control-hero {
  position: absolute;
  top: 40%;
  z-index: 1;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 5px;
  color: var(--colorFont);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0.5rem;
  transition: 0.6s;
  overflow: hidden;
}

.slider-control-hero:hover {
  color: var(--colorBase);
  transition: 0.4s;
}

.prev-hero {
  left: 20px;
}

.next-hero {
  right: 20px;
}

/* ACERCA DI ELECTRONICS CTA */

#acercaDiElectronics {
  width: 100%;
  height: 130vh;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 15%;

  background-image: url("../img/hero/hero-iphone-15-white-cut.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  padding: 2rem 2rem;
  margin: 2rem 2rem;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

#acercaContainerWidth {
  width: 80%;
}

#acercaContainerWidth h3 {
  font-size: clamp(1.5rem, 2vw, 2rem);
  margin: 1rem 0;
  font-weight: 500;
}

#acercaContainerWidth h2 {
  font-size: clamp(1.8rem, 4vw, 3rem);
  margin: 1.5rem 0;
}

#acercaContainerWidth button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

#acercaContainerWidth button.learn-more {
  width: 12rem;
  height: auto;
}

#acercaContainerWidth button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--colorFont);
  border-radius: 1.625rem;
}

#acercaContainerWidth button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--colorBase);
}

#acercaContainerWidth button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

#acercaContainerWidth button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid var(--colorBase);
  border-right: 0.125rem solid var(--colorBase);
  transform: rotate(45deg);
}

#acercaContainerWidth button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: var(--colorFont);
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

#acercaContainerWidth button:hover .circle {
  width: 100%;
}

#acercaContainerWidth button:hover .circle .icon.arrow {
  background: var(--colorBase);
  transform: translate(1rem, 0);
}

#acercaContainerWidth button:hover .button-text {
  color: var(--colorBase);
}

/* cards */
.container {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  margin: 5% 0;
  overflow: hidden;
}
.container .glass {
  position: relative;
  width: 250px;
  height: 300px;
  background: linear-gradient(#fff2, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
  transition: 1s ease;
}

.container .glass a {
  text-decoration: none;
  padding: 2rem 2rem;
}

.container .glass:hover {
  animation: myAnimHoverCards 0.5s ease 0s 1 normal forwards;
}

@keyframes myAnimHoverCards {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-20px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.container .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colorFont);
  font-size: 1.4rem;
}

.container .glass svg {
  font-size: 2.5em;
  fill: #fff;
}

.container.rotated .glass {
  transform: rotate(0deg);
  transition: 0.8s;
  margin: 0 5rem;
}

/* nuevos lanzamientos */

#nuevosLanzamientosSlider {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 5rem;
}

#nuevosLanzamientosSlider h2 {
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  margin: 2rem 0;
}

.slider-container-new {
  position: relative;
  width: 80%;
  overflow: hidden;
}

.slider-content-new {
  display: flex;
  transition: transform 1s ease;
  width: 500%; /* Ajusta este valor según la cantidad de diapositivas */
}

.slide-new img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-controls-new {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-control-new {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--colorFont);
  border-radius: 50%;
  border: 2px solid var(--colorPrimary);
  margin: 0 6px;
  cursor: pointer;
  transition: 0.4s;
}

.slider-control-new:hover {
  width: 14px;
  height: 14px;
  transition: 0.2s;
}

/* AVISOS */

#avisos {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#avisosContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 30vh;
  padding: 3.5rem 0;
  margin: 1rem 0;
  background-image: url("../img/hero/renovate-ad.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#avisosContainer h3 {
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--colorBase);
  background-color: var(--colorFont);
  padding: 1rem 1rem;
}

/* Nuestros Favoritos */

#nuestrosFavoritos {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
}

#nuestrosFavoritos h2 {
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  margin: 3rem 0 2rem 0;
}

.nuestrosFavoritosContainer {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
}

.nuestrosFavoritosItem {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.nuestrosFavoritosItem a {
  text-decoration: none;
  color: var(--colorFont);
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.nuestrosFavoritosItem img {
  max-width: 100%;
}

.nuestrosFavoritosItem h3 {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  margin: 1rem 0 0.5rem 0;
}

.nuestrosFavoritosItem h4 {
  font-size: clamp(0.6rem, 2vw, 0.8rem);
  color: var(--colorFont);
}

footer {
  background-color: var(--colorFont);
  color: var(--colorBase);
  padding: 2rem 2rem;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
}

#footerContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

#footerContainer ul {
  display: flex;
  align-items: baseline;
}

#footerContainer ul li {
  margin-right: 1rem;
}

#footerContainer ul li {
  list-style: none;
  display: inline-block;
}

.footer-left ul {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-left: 2px dashed rgba(255, 255, 255, 0.4);
  padding-left: 0.5rem;
}

.footer-left ul li {
  padding: 0.5rem 0.5rem;
}

footer nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer nav ul li {
  display: inline;
  margin: 0.2rem 0;
  border-radius: 2px;
  width: 100%;
  text-align: start;
}

footer nav ul li a {
  color: var(--colorBase);
  text-decoration: none;
  padding: 0.5rem 2rem;
}

footer nav ul li:hover {
  background-color: var(--colorPrimary);
}

.footer-left-info h3:last-of-type {
  margin-top: 2rem;
}

.footer-midle-info h3 {
  margin: 1rem 0 1rem 0;
}

.footer-midle-info a {
  text-decoration: none;
  color: var(--colorBase);
}

.footer-midle-info a:hover {
  text-decoration: underline;
}

.footer-midle-info p {
  font-size: clamp(0.8rem, 2vw, 1rem);
  margin: 0.5rem 0;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-right .social-media {
  margin-bottom: 20px;
}

.footer-right h3 {
  margin-bottom: 1rem;
}

.social-icons img {
  width: 36px;
  margin-right: 10px;
  border-radius: 100%;
}

.payment {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-icons img {
  width: 40px;
  margin-right: 10px;
  border-radius: 2px;
}

.footer-info {
  margin-top: 2rem;
}

.footer-info p {
  font-size: clamp(0.8rem, 2vw, 1rem);
  margin: 0.3rem 0;
}

#footerLogo {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: var(--colorFont);
}

#footerLogo img {
  width: clamp(150px, 2vw, 200px);
}

.infoMobile {
  display: none;
}

/* modal */

dialog::backdrop {
  backdrop-filter: blur(5px);
}

.modalContainer {
  width: 70%;
  height: 30vh;
  margin: auto auto;
  animation: myAnimDialog 1s ease 0s 1 normal forwards;
}

@keyframes myAnimDialog {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.botonAbrirModal {
  border: none;
  background-color: var(--colorFont);
  color: var(--colorBase);
  display: flex;
  flex-flow: column;
  margin: 0.5rem 0;
}

.botonAbrirModal:hover {
  text-decoration: underline;
}

.modal {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#modalLogo {
  width: 200px;
}

.modal h2 {
  color: var(--colorFont);
  margin-bottom: 2rem;
  font-size: clamp(1.4rem, 2vw, 1.8rem);
}

.modal h3 {
  color: var(--colorFont);
  margin: 0.5rem 0;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.modal p {
  color: var(--colorFont);
  text-align: center;
  width: 60%;
  word-spacing: 1px;
  margin-bottom: 3rem;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem 1rem;
  width: 4em;
  height: 4em;
  border: none;
  background: rgba(33, 1, 9, 0.71);
  border-radius: 5px;
  transition: 0.5s;
  z-index: 10000;
}

.X {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 1.5px;
  background-color: rgb(255, 255, 255);
  transform: translateX(-50%) rotate(45deg);
}

.Y {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 1.5px;
  background-color: #fff;
  transform: translateX(-50%) rotate(-45deg);
}

.close {
  position: absolute;
  display: flex;
  padding: 0.8rem 1.5rem;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  top: -70%;
  left: 50%;
  width: 3em;
  height: 1.7em;
  font-size: 12px;
  background-color: rgb(19, 22, 24);
  color: rgb(187, 229, 236);
  border: none;
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;
}

.button:hover {
  background-color: rgb(211, 21, 21);
}

.button:active {
  background-color: rgb(130, 0, 0);
}

.button:hover > .close {
  animation: close 0.2s forwards 0.25s;
}

@keyframes close {
  100% {
    opacity: 1;
  }
}

.botonCerrarModal2 {
  display: none;
}

@media (min-width: 1401px) and (max-width: 1800px) {
  .slider-container-hero {
    height: 110vh;
  }

  .navList {
    display: flex;
    list-style-type: none;
    gap: 0;
    margin-left: 5rem;
  }
}

@media (min-width: 1001px) and (max-width: 1400px) {
  .lineasDestacadasContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .nuestrosFavoritosContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .headerTitle {
    margin: 3rem;
  }

  .headerSticky {
    display: none;
  }

  .sticky-nav {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.2s;
  }

  .mobileSticky {
    position: sticky;
    top: 0;
    background: var(--colorFont);
    color: var(--colorBase);
    z-index: 10000;
    transition: 0.4s;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    animation: myAnimNavStickyEntrada 0.7s ease 0s 1 normal forwards;
  }

  .navBarMobileStickyAnimationSalida {
    animation: myAnimNavStickySalida 0.7s ease 0s 1 normal forwards;
  }

  @keyframes myAnimNavStickySalida {
    0% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      transform: translateY(-200%);
    }
  }

  #navBarMobile a {
    text-decoration: none;
  }

  #navBarMobile a img {
    width: 28px;
  }

  #stickyNavLinksContainer {
    display: flex;
    width: 100%;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
  }

  #navBarMobileTitle {
    visibility: hidden;
    position: absolute;
    color: var(--colorBase);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.8rem;
    margin: 2rem 0 1rem;
  }

  body.scroll-lock {
    overflow: hidden;
  }

  .abrirMenu,
  .cerrarMenu {
    display: block;
    border: 0;
    font-size: 1.8rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrirMenu {
    color: var(--colorTittle);
    margin: 1rem 0;
  }

  .cerrarMenu {
    color: var(--colorTittle);
  }
  .nav {
    visibility: hidden;
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    gap: 1rem;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--colorBase);
    padding: 2rem;
    padding-top: 25%;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 1);
    z-index: 10000;
    opacity: 0;
    transition: 0.7s ease;
  }

  .navVisible {
    opacity: 1;
    visibility: visible;
    transition: 0.5s ease;
  }

  .navList {
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 2rem 0;
    gap: 2rem;
  }

  .navList li a {
    color: var(--colorTittle);
  }

  #acercaDiElectronics {
    width: 100%;
    height: 200vh;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
  }

  .outer-container {
    overflow: hidden;
  }

  .inner-container {
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
  }

  .scroll-container {
    display: inline-flex; /* Para que los elementos estén en línea */
  }

  .container {
    padding: 3rem 2rem;
    width: auto; /* Permitir que el contenedor se expanda según el contenido */
  }

  .container .glass {
    width: 300px;
    height: 300px;
    margin: 0 40px; /* Ajustar margen para que haya espacio entre los elementos */
    transform: rotate(0deg);
  }

  .container .glass:nth-last-of-type(1) {
    order: 3;
  }

  .container .glass:nth-last-of-type(3) {
    order: 2;
  }

  .dots-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5rem;
  }

  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    cursor: pointer;
  }

  .dot.active {
    background-color: black;
  }

  .slide-new img {
    max-width: 100%;
    height: 55vh;
  }

  .slider-control-hero {
    padding: 0.4rem 0.4rem;
  }

  #avisosContainer {
    width: 80%;
    height: 35vh;
  }

  .lineasDestacadasContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .nuestrosFavoritosContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .footer-left nav {
    display: none;
  }

  footer {
    flex-direction: column;
    padding: 4rem 0 2rem 0;
  }

  #footerContainer {
    width: 100%;
    padding: 0 2rem;
  }

  #footerContainer ul {
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .footer-left-info-title {
    margin-top: 2rem;
  }

  .footer-left-info h3:last-of-type {
    margin-top: 0;
  }

  .footer-left,
  .footer-right {
    width: 100%;
  }

  .footer-left {
    order: 2;
  }

  .footer-right {
    align-items: flex-start;
    order: 1;
  }

  .botonAbrirModal {
    margin-bottom: 1rem;
  }

  .botonCerrarModal2 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem 1rem;
    width: 4em;
    height: 4em;
    border: none;
    background: rgba(33, 1, 9, 0.71);
    border-radius: 5px;
    transition: 0.5s;
  }

  .button {
    margin: 0.5rem 0.5rem;
    width: 2em;
    height: 2em;
  }

  .X {
    width: 1.5em;
    height: 1px;
  }

  .Y {
    width: 1.5em;
    height: 1px;
  }

  .modalContainer {
    height: 50vh;
  }

  .modal h3 {
    margin: 1rem 2rem;
  }

  .modal p {
    width: 80%;
  }

  .infoDesktop {
    display: none;
  }

  .infoMobile {
    display: inline-block;
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 0 2rem;
    margin: 0 0;
  }
}
